In [2]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr, ttest_ind

In [3]:
df = pd.read_csv("traffic.csv")

In [4]:
df.head()

,event,date,country,city,artist,album,track,isrc,linkid
0,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
1,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
2,click,2021-08-21,India,Ludhiana,Reyanna Maria,So Pretty,So Pretty,USUM72100871,23199824-9cf5-4b98-942a-34965c3b0cc2
3,click,2021-08-21,France,Unknown,"Simone & Simaria, Sebastian Yatra",No Llores Más,No Llores Más,BRUM72003904,35573248-4e49-47c7-af80-08a960fa74cd
4,click,2021-08-21,Maldives,Malé,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226278 entries, 0 to 226277
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   event    226278 non-null  object
 1   date     226278 non-null  object
 2   country  226267 non-null  object
 3   city     226267 non-null  object
 4   artist   226241 non-null  object
 5   album    226273 non-null  object
 6   track    226273 non-null  object
 7   isrc     219157 non-null  object
 8   linkid   226278 non-null  object
dtypes: object(9)
memory usage: 15.5+ MB

In [6]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date', ascending=True)

In [7]:
df.event.unique()

array(['pageview', 'click', 'preview'], dtype=object)

#### How many total pageview events did the links in the provided dataset receive in the full period, how many per day?

Total per day

In [8]:
df.query("event == 'pageview'").groupby(df.date.dt.date).size()

date
2021-08-19    22366
2021-08-20    21382
2021-08-21    21349
2021-08-22    20430
2021-08-23    18646
2021-08-24    18693
2021-08-25    19149
dtype: int64

#### What about the other recorded events?

In [9]:
df.query("event in ['click', 'preview'] ").groupby(df.date.dt.date).size()

date
2021-08-19    12995
2021-08-20    12730
2021-08-21    12734
2021-08-22    12203
2021-08-23    11162
2021-08-24    11141
2021-08-25    11298
dtype: int64

#### Which countries did the pageviews come from?

In [10]:
country_page_views = df['country'].value_counts().reset_index()
country_page_views.columns = ['country', 'page_views']
country_page_views

               country  page_views
0         Saudi Arabia       47334
1                India       42992
2        United States       32558
3               France       15661
4                 Iraq        8260
..                 ...         ...
206  Wallis and Futuna           2
207       Saint Martin           2
208    Solomon Islands           2
209       Sint Maarten           1
210            Lesotho           1

[211 rows x 2 columns]

#### What was the overall click rate (clicks/pageviews)?

In [11]:
total_pageviews = df.query("event == 'pageview'").shape[0]
total_clicks = df.shape[0]

click_rate = total_clicks / total_pageviews
click_rate

1.593338731824103

#### How does the clickrate distribute across different links?

In [12]:
link_clicks = df['linkid'].value_counts().reset_index()
link_clicks.columns = ['linkid', 'clicks']

total_pageviews = df.shape[0]
link_clicks['clickrate'] = link_clicks['clicks'] / total_pageviews

link_clicks.head()

                                 linkid  clicks  clickrate
0  2d896d31-97b6-4869-967b-1c5fb9cd4bb8   40841   0.180490
1  522da5cc-8177-4140-97a7-a84fdb4caf1c   10314   0.045581
2  e849515b-929d-44c8-a505-e7622f1827e9    9750   0.043089
3  c2c876ab-b093-4750-9449-6b4913da6af3    6733   0.029755
4  681d888a-59ce-4acb-b7c5-95dab0c063d9    5512   0.024359

#### Is there any correlation between clicks and previews on a link? Is it significant? How large is the effect? Make sure to at least test for potential linear as well as categorical (think binary) relationships between both variables.

In [16]:
# Filtrar visualizações de página e cliques
pageviews = df[df['event'] == 'pageview']
clicks = df[df['event'] == 'click']

# Contar visualizações de página por link
link_pageviews = pageviews['linkid'].value_counts().reset_index()
link_pageviews.columns = ['linkid', 'pageviews']

# Contar visualizações de página por link
link_pageviews = pageviews['linkid'].value_counts().reset_index()
link_pageviews.columns = ['linkid', 'pageviews']

# Contar cliques por link
link_clicks = clicks['linkid'].value_counts().reset_index()
link_clicks.columns = ['linkid', 'clicks']

# Unir os datasets de visualizações de página e cliques
link_stats = pd.merge(link_pageviews, link_clicks, on='linkid', how='outer').fillna(0)

# Calcular a correlação linear
correlation, p_value = pearsonr(link_stats['clicks'], link_stats['pageviews'])

# Categorizar dados
median_pageviews = link_stats['pageviews'].median()
link_stats['high_pageviews'] = np.where(link_stats['pageviews'] > median_pageviews, 1, 0)

# Testar a significância das categorias
high_pageviews_clicks = link_stats[link_stats['high_pageviews'] == 1]['clicks']
low_pageviews_clicks = link_stats[link_stats['high_pageviews'] == 0]['clicks']

t_stat, p_value_cat = ttest_ind(high_pageviews_clicks, low_pageviews_clicks)

# Resultados
print(f'Correlação de Pearson: {correlation}')
print(f'P-valor da correlação: {p_value}')
print(f'Estatística do teste T: {t_stat}')
print(f'P-valor do teste T: {p_value_cat}')
print(f'Média de cliques em links com alta visualização: {high_pageviews_clicks.mean()}')
print(f'Média de cliques em links com baixa visualização: {low_pageviews_clicks.mean()}')

Correlação de Pearson: 0.9940014167229578
P-valor da correlação: 0.0
Estatística do teste T: 6.241072591432042
P-valor do teste T: 4.818174478692752e-10
Média de cliques em links com alta visualização: 37.196732471068756
Média de cliques em links com baixa visualização: 0.459915611814346

In [15]:
link_stats

                                    linkid  pageviews  clicks  high_pageviews
0     00073307-ae96-5089-a117-4783afb42f8e        2.0     0.0               1
1     00126b32-0c35-507b-981c-02c80d2aa8e7        2.0     2.0               1
2     0018cfff-50a1-5984-9715-01ef2d11a49a        1.0     0.0               0
3     0033934b-5d16-5a06-af58-d087bcdd3680        1.0     0.0               0
4     0034d6cf-3bd8-5ffe-aafc-b3959fc48608        1.0     0.0               0
...                                    ...        ...     ...             ...
3834  fff38ca0-8043-50cd-a5f1-f65ebb7105c5        1.0     1.0               0
3835  fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7        2.0     0.0               1
3836  fff84c0e-90a1-59d8-9997-adc909d50e16        1.0     1.0               0
3837  fffc17a7-f935-5d3e-bd3e-d761fd80d479        2.0     1.0               1
3838  fffd0045-29de-522b-b5d8-35786363bf07        2.0     1.0               1

[3839 rows x 4 columns]